    table {
        border-collapse: collapse;
    }
    .topline{
        background-color: brown;
        border: 1px solid;
        color: white;
    }
    .firstline{
        background-color: #a3a32a;
    }
    .secondline{
        background-color: #dbdb88;
    }

    th, td{
        padding:9px;

    }